$backgroundColor: rgb(86,59,8);
$backgroundImage: linear-gradient(0deg, rgba(241,213,161,1) 0%, rgba(106,76,12,1) 50%, rgba(241,213,161,1) 100%);
$cardNavBgColor: #cd890c;
$secondaryColor: #171b20;
$navbarFont: 'Rubik Distressed', cursive;